<ion-view view-title="Add Exercise">
  <ion-content>
    <ion-list>
       
        <ion-item>
            <label class="item item-input">
                <input type="text" ng-model="exercise.name" placeholder="Exercise or machine name">
              </label>
              <label class="item item-input">
                <input type="text" ng-model="exercise.muscle" placeholder="Target muscle (Optional)">
              </label>
        </ion-item>
        
        <ion-item class="item-divider">Exercise Type</ion-item>
        
        <ion-item>
            <ion-radio name="exerciseType" ng-model="exercise.type" ng-value="'cardio'" >Cardio</ion-radio>
            <ion-radio name="exerciseType" ng-model="exercise.type" ng-value="'weights'" >Weights</ion-radio>
            <ion-radio name="exerciseType" ng-model="exercise.type" ng-value="'Stretch'" >Stretch</ion-radio>
        </ion-item>
        
        
        <ion-item class="item-divider"  ng-show="exercise.type=='weights'">Body Area</ion-item>
        
        <ion-item ng-show="exercise.type=='weights'">
            <ion-radio ng-repeat="item in bodyArea" name="bodyArea" ng-model="exercise.bodyArea" ng-value="item">{{item}}</ion-radio>
        </ion-item>
        <div class="padding">
        <button class="button button-full button-balanced" ng-click="saveExercise()">Add Exercise</button>
        </div>
    </ion-list>
  </ion-content>
</ion-view>