<ion-view view-title="Cardio exercise">
    <ion-content>
        <ion-list>
          <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in weightExerciseList | filter: {type : 'cardio'}" type="item-text-wrap" href="#/tab/chats/{{item.name}}" can-swipe="true"><!-- add class  item-avatar -->
            <!--<img ng-src="{{chat.face}}">-->
            
            <h2>{{exerciseList.indexOf(item)}} {{item.name}}</h2>
            <p>{{item.type}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(chat)"><i class="icon ion-ios-trash-outline"></i></ion-option-button>
            <ion-option-button class="button-balanced" ng-click="remove(chat)"><i class="icon ion-ios-shuffle-strong"></i></ion-option-button>
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
